<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <h1 class="text-center">Category List</h1>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Publish Date</th>
                        <th class="text-center">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                        <td>{{ category.createdAt }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>